* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    user-select: none;
    margin: 0;
    padding: 0;
  }

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
  position: absolute;
  width: 100%;
  max-width: 448px;
  background-color: #323339;
  border-radius: 12px;
  padding: 32px;
  display: flex;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.titulo {
  text-align: center;
  margin-bottom: 24px;
}

.subtitulo{
  opacity: 80%;
  bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  gap: 1px;
}

.button {
  padding: 10px 0px;
}

.caixas {
  position: relative;
  bottom: 20px;
}

.caixas label {
    font-size: 12px;
    font-size: 12px; 
    font-weight: 700;
    color: #d1d5db
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
}

.info {
  padding: 15px 0px;
  opacity: 80%;
  font-weight: bold;
  font-size: 75%;
  position: relative;
  bottom: -4px;
} 

.esqsenha {
  position: relative;
  bottom: 15px;
  font-size: 14px;
}

.esqsenha:hover{
  text-decoration: underline;
}

.registro{
  position: relative;
  bottom: 20px;
  opacity: 80%;
  font-size: 13px;
}



input {
  background-color: #1e1f22;
  border: 1px solid #3e3f44;
  outline: none;
  width: 100%;
  height: 30px;
  border-radius: 7px;
  transition: border-color 0.3s;
  padding: 5px 10px;
}

input:focus {
  border-color: #72b1fc;
}

button {
  background-color: #5865F2;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  width: 95%;
  position: relative;
  bottom: 5px;
  font-size: 15px; 
}

button:hover{
  opacity: 80%;
  transition: 0.4s;
}